$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$box-shadow: 0 2px 5px lighten($tertiary-color,5);
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}


 /* ------> HEADER <------ */

.header-accueil {
    position: relative;
    height: 5rem;
    z-index: 2;
    box-shadow: $box-shadow;
}

.header-menu {

    &__nav {
        position: relative;
        height: 5rem;
        display: flex;
        align-items: center;
        padding: 15px 25px;
    }

    &__banner {
        width: 100%;
    }
}

h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: "Shrikhand", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    padding: 15px 0;
}

/* ------> LOCALISATION <------ */

.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background: lighten($tertiary-color,15);
    
    & p {
        font-weight: 500;
    }

    & p, i {
        color:#352617;
        margin: 0 5px;
        font-size: 1.5rem;
    }
}


/* ------> PRESENTATION <------ */

.presentation {
    text-align: center;
    padding: 60px 40px;
    background: lighten($tertiary-color, 20);

    &__title {
        font-weight: 700;
        font-size: 2.6rem;
    }

    &__description {
        font-weight: 300;
        font-size: 1.8rem;
        margin: 20px 0;
    }

    &__button {
        font-weight: 500;
        font-size: 1.3rem;
        color: white;
        background: linear-gradient(331deg, rgba(2,0,36,1) 0%, rgba(147,86,220,1) 0%, rgba(0,212,255,1) 100%);
        margin: 20px 0;
        padding: 20px 30px;
        border: none;
        border-radius: 30px;
        box-shadow: 0 1px 5px #352617;
    }
}


/* ------> EXPLICATION <------- */

.explication {
    margin: 0 20px;
    padding: 50px 0 ;

    &__title {
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 40px;
    }

    &__description {
        text-align: center;

        & .step {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: auto;
            background: lighten($tertiary-color, 17);
            padding: 35px 40px;
            margin: 0 0 20px 20px;
            border-radius: 30px;
            box-shadow: $box-shadow;

            &__number, &__icon, &__title {
                font-size: 1.2rem;
            }

            &__number {
                position: absolute;
                top: 50%;
                left: 0;
                color: white;
                width: 1.7rem;
                height: 1.7rem;
                line-height: 1.7rem;
                background: $primary-color;
                border-radius: 50%;
                transform: translate(-50%, -50%);
            }

            &__icon {
                color: darken($tertiary-color, 50);
                margin-right: 25px;
            }
            
        }
    }
}


/* ------> RESTAURANTS <------ */

.restaurants {
    padding: 50px 20px;
    background: lighten($tertiary-color, 20);

    &__title {
        font-weight: 700;
        font-size: 2.6rem;
    }
}


.restaurant-menu {
    border-radius: 20px;
    box-shadow: $box-shadow;
    margin-top: 20px;
    height: 300px;

    &__image {
        position: relative;
        height: 75%;

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 20px 20px 0 0;
        }

        & .new {
            position: absolute;
            top: 5%;
            right: 3%;
            background: $tertiary-color;
            
            padding: 7px 15px;
            margin: 0;
            border-radius: 2px;
        }
    }

    &__description {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 20px 15px 15px;
        height: 25%;

        & .description {
            &__title {
                font-size: 1.2rem;
                font-weight: 800;
                margin-bottom: 5px;
            }

        }

        & i {
            font-size: 1.5rem;
            font-weight: normal;
            color: $primary-color;
        }
    }
}


/* ------> FOOTER <------ */

.footer {
    background: lighten(black, 20);
    padding: 20px 20px;

    &__title {
        font-size: 1rem;
        font-weight: 500;
        font-family: "Shrikhand";
        color: white;
        margin-bottom: 20px;
    }

    &__links {
        & .link {
            display: flex;
            text-decoration: none;
            color: white;
            padding: 5px 0;

            &__icon {
                width: 0.8rem;
                font-size: 0.8rem;
                margin-right: 10px;
            }

            &__name {
                font-size: 0.8rem;
            }
        }
    }
}


/* ------> HEADER-MENU <------- */

