* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
}

a {
    text-decoration: none;
    color: black;
}

#container {
    background: $bg-color;
    max-width: 3000px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
}


/* -----> RESPONSIVE <------ */

@media screen and (min-width: map-get($breakpoints, S)) {
    * {
        font-size: 16px;
    }
}