* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background: #fff;
}

#container {
  background: #d5f3eb;
}

/* ------> HEADER <------ */
.header-accueil {
  position: relative;
  height: 5rem;
  z-index: 2;
  box-shadow: 0 2px 5px #ade8d9;
}

.header-menu__nav {
  position: relative;
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 15px 25px;
}
.header-menu__banner {
  width: 100%;
}

h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Shrikhand", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding: 15px 0;
}

/* ------> LOCALISATION <------ */
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background: #d5f3eb;
}
.localisation p {
  font-weight: 500;
}
.localisation p, .localisation i {
  color: #352617;
  margin: 0 5px;
  font-size: 1.5rem;
}

/* ------> PRESENTATION <------ */
.presentation {
  text-align: center;
  padding: 60px 40px;
  background: #e8f9f5;
}
.presentation__title {
  font-weight: 700;
  font-size: 2.6rem;
}
.presentation__description {
  font-weight: 300;
  font-size: 1.8rem;
  margin: 20px 0;
}
.presentation__button {
  margin: 20px 0;
  padding: 20px 30px;
}

.button {
  font-weight: 500;
  font-size: 1.3rem;
  color: white;
  background: #9356DC;
  border: none;
  border-radius: 30px;
  box-shadow: 0 1px 5px #352617;
  cursor: pointer;
}
.button:hover {
  background: #a16be0;
  box-shadow: 0 2px 8px #352617;
}

/* ------> EXPLICATION <------- */
.explication {
  padding: 50px 20px;
  background: #fff;
}
.explication__title {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 40px;
}
.explication__description {
  text-align: center;
}
.explication__description .step {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  background: #ddf5ef;
  padding: 35px 40px;
  margin: 0 0 20px 20px;
  border-radius: 30px;
  box-shadow: 0 2px 5px #ade8d9;
}
.explication__description .step:hover {
  background: #ece1f9;
}
.explication__description .step__number, .explication__description .step__icon, .explication__description .step__title {
  font-size: 1.2rem;
}
.explication__description .step__number {
  position: absolute;
  top: 50%;
  left: 0;
  color: white;
  width: 1.7rem;
  height: 1.7rem;
  line-height: 1.7rem;
  background: #9356DC;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.explication__description .step__icon {
  color: #1b6150;
  margin-right: 25px;
}

/* ------> RESTAURANTS <------ */
.restaurants {
  padding: 50px 20px;
  background: #e8f9f5;
}
.restaurants__title {
  font-weight: 700;
  font-size: 2.6rem;
}
.restaurants__list a {
  background: #000;
}

.restaurant-menu {
  border-radius: 20px;
  box-shadow: 0 2px 5px #ade8d9;
  margin-top: 20px;
  height: 300px;
}
.restaurant-menu:hover {
  background: #e4d5f6;
}
.restaurant-menu__image {
  position: relative;
  height: 75%;
}
.restaurant-menu__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.restaurant-menu__image .new {
  position: absolute;
  top: 5%;
  right: 3%;
  background: #99E2D0;
  padding: 7px 15px;
  margin: 0;
  border-radius: 2px;
}
.restaurant-menu__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px 15px 15px;
  height: 25%;
}
.restaurant-menu__description .description__title {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 5px;
}
.restaurant-menu__description i {
  font-size: 1.5rem;
  color: #000;
  font-weight: normal;
}

/* ------> FOOTER <------ */
.footer {
  background: #333333;
  padding: 20px 20px;
}
.footer__title {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Shrikhand";
  color: white;
  margin-bottom: 20px;
}
.footer__links .link {
  display: flex;
  text-decoration: none;
  color: white;
  padding: 5px 0;
}
.footer__links .link:hover {
  color: #9356DC;
  font-weight: 600;
}
.footer__links .link__icon {
  width: 0.8rem;
  font-size: 0.8rem;
  margin-right: 10px;
}
.footer__links .link__name {
  font-size: 0.8rem;
}

/* ------> MENU <------- */
.menu {
  position: relative;
  top: -40px;
  background: #d5f3eb;
  border-radius: 40px;
  padding: 40px 20px;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.menu-title h2 {
  font-family: "Shrikhand";
  font-size: 2.5rem;
}
.menu-title i {
  font-size: 2rem;
  padding-right: 30px;
}

.menu-description {
  padding-bottom: 100px;
}
.menu-description > article {
  margin-bottom: 40px;
}
.menu-description h3 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}
.menu-description h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: black;
  margin: 5px 0;
}

.dish {
  background: #fff;
  margin-top: 20px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 2px 5px #ade8d9;
}
.dish__title {
  font-size: 1.2rem;
}
.dish__details {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
}
.dish__details-price {
  font-weight: 600;
}

.order-button {
  position: absolute;
  left: 50%;
  bottom: 70px;
  transform: translateX(-50%);
  padding: 15px 60px;
}

/*# sourceMappingURL=style.css.map */
