* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* ------> HEADER <------ */
.header-accueil {
  position: relative;
  z-index: 2;
  box-shadow: 0 1px 5px #352617;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 3rem;
  text-align: center;
  padding: 15px 0;
}

/* ------> LOCALISATION <------ */
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background: #99E2D0;
}
.localisation p {
  font-weight: 500;
}
.localisation p, .localisation i {
  color: #352617;
  margin: 0 5px;
  font-size: 1.5rem;
}

/* ------> PRESENTATION <------ */
.presentation {
  text-align: center;
  padding: 60px 40px;
}
.presentation__title {
  font-weight: 700;
  font-size: 2.6rem;
}
.presentation__description {
  font-weight: 300;
  font-size: 1.8rem;
  margin: 20px 0;
}
.presentation__button {
  font-weight: 500;
  font-size: 1.3rem;
  color: white;
  background: #9356DC;
  margin: 20px 0;
  padding: 20px 30px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 1px 5px #352617;
}

/* ------> EXPLICATION <------- */
.explication {
  margin: 0 20px;
  padding: 50px 0;
}
.explication__title {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 40px;
}
.explication__description {
  text-align: center;
}
.explication__description .step {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  background: #ddf5ef;
  padding: 35px 40px;
  margin: 0 0 20px 20px;
  border-radius: 30px;
  box-shadow: 0 2px 5px #99E2D0;
}
.explication__description .step p, .explication__description .step i, .explication__description .step h3 {
  font-size: 1.2rem;
}
.explication__description .step p {
  position: absolute;
  top: 50%;
  left: 0;
  color: white;
  width: 1.7rem;
  height: 1.7rem;
  line-height: 1.7rem;
  background: #9356DC;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.explication__description .step i {
  color: #1b6150;
  margin-right: 25px;
}

/* ------> RESTAURANTS <------ */
.restaurants {
  padding: 50px 20px;
  background: #e8f9f5;
}
.restaurants__title {
  font-weight: 700;
  font-size: 2.6rem;
}

.restaurant-menu {
  border-radius: 20px;
  box-shadow: 0 2px 5px #99E2D0;
  margin-top: 20px;
  height: 300px;
}
.restaurant-menu__image {
  position: relative;
  height: 75%;
}
.restaurant-menu__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.restaurant-menu__image .new {
  position: absolute;
  top: 5%;
  right: 3%;
  background: #99E2D0;
  padding: 7px 15px;
  margin: 0;
  border-radius: 2px;
}
.restaurant-menu__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px 15px 15px;
  height: 25%;
}
.restaurant-menu__description .description__title {
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 5px;
}
.restaurant-menu__description i {
  font-size: 1.5rem;
  font-weight: normal;
  color: #9356DC;
}

/*# sourceMappingURL=style.css.map */
