


@mixin empty-hearts($heart-size) {
    position: relative;
    font-weight: normal;
    font-size: $heart-size;
    color: #000;
}

@mixin full-hearts($heart-size) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: $heart-size;
    transform: scale(0);
    background: linear-gradient(180deg, $primary-color 60%, $secondary-color 100%);;
    background-clip: text;
    color: transparent;
}